<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title class="ion-text-center">Llibre de receptes</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Speakers</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>



    <ion-card *ngFor="let category of categories">
        <img [src]="category.image" [alt]="category.image_alt">
        <ion-card-header>
            <ion-card-title>{{ category.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{ category.description }}
        </ion-card-content>
        <ion-button [routerLink]="category.url" expand="block">View Recipes</ion-button>
    </ion-card>
</ion-content>
