<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title class="ion-text-center">Llibre de receptes</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let category of categories">
        <img [src]="category.image" [alt]="category.image_alt">
        <ion-card-header>
            <ion-card-title>{{ category.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{ category.description }}
        </ion-card-content>
        <ion-button [routerLink]="category.url" expand="block">View Recipes</ion-button>
    </ion-card>
</ion-content>
